*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
keystore.properties
project_memory.md
out.txt
size.txt
build/
/handover/
/plans/
/.kilo/
/.kilocode/
/.kotlin/
/.trae/
/.vscode/
/.zcode/
/.idea/studiobot.xml
